<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<f:view transient="true" locale="#{language.localeCode}">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>True News Passwordless</title>
		<link rel="icon"
			href="/oxauth/ext/resources/img/truenewslogo.png" />
		<link type="text/css" rel="stylesheet"
			href="#{oxAuthConfigurationService.getCssLocation()}/style.css" />
		<link type="text/css" rel="stylesheet"
			href="#{oxAuthConfigurationService.cssLocation}/bootstrap-responsive.css" />

		<link
			href="#{oxAuthConfigurationService.cssLocation}/bootstrap.min.css"
			rel="stylesheet" />
		<link type="text/css" rel="stylesheet"
			href="#{oxAuthConfigurationService.cssLocation}/font-awesome.css" />
		<link type="text/css" rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" />
		<script
			src="#{oxAuthConfigurationService.jsLocation}/jquery-1.12.4.min.js" />
		<script
			src="#{oxAuthConfigurationService.jsLocation}/bootstrap.min.js"></script>
		<script src="#{oxAuthConfigurationService.jsLocation}/platform.js"></script>
		<ui:insert name="head" />
	</h:head>
	<h:body>
		<div class="body">
			<ui:insert name="body" />
		</div>
	</h:body>
</f:view>
</html>
