<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html">
<f:view transient="true" locale="#{language.localeCode}">
        <h:head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
<!--                <title><ui:insert name="pageTitle" /></title>-->
               <title>True News Login</title>
                <link rel="icon" href="/oxauth/ext/resources/img/truenewslogo.png"
                        type='image/x-icon' />
                <link type="text/css" rel="stylesheet"
                        href="#{oxAuthConfigurationService.getCssLocation()}/style.css" />
                <link type="text/css" rel="stylesheet"
                        href="#{oxAuthConfigurationService.getCssLocation()}/bootstrap.min.css" />
                <link rel="stylesheet"
                        href="#{oxAuthConfigurationService.getCssLocation()}/fontawesome.min.css" />
                <link type="text/css" rel="stylesheet"
                        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" />

                <script
                        src="#{oxAuthConfigurationService.getJsLocation()}/jquery-3.4.1.min.js" />
                <script
                        src="#{oxAuthConfigurationService.getJsLocation()}/bootstrap.min.js" />
                <script
                        src="#{oxAuthConfigurationService.getJsLocation()}/platform.js" />
                <style>
body {
        margin-bottom: 3% !important;
}

.footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        height: 55px;
        background-color: #3F48CC;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
}

@media screen and (min-height: 720px) {
        .footer {
                position: absolute;
                height: 5px !important;
        }
}
</style>

        </h:head>
        <h:body>
                <div>
                        <div class="login-logo">
                                <img style="max-height: 70px; padding-bottom: 2px;" id="AppLogo"
                                        src="/oxauth/ext/resources/img/truenewslogo.png" />
                        </div>
                        <div class="bs-docs-section"
                                style="border-top: 2px solid #3F48CC !important; margin-bottom: 5px !important; margin-top: 1px !important; padding-top: 1px !important;"></div>
                </div>
                <div class="body">
                        <ui:insert name="body" />
                </div>
        </h:body>
        <footer class="footer" id="appFooter">
        <div class="row" style="margin-top: 20px;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 centered" style="text-align: center;">
                        <p class="centered">
                                &copy; <a target="_blank"
                                        href="https://github.com/GluuFederation/oxAuth/blob/master/LICENSE"><h:outputText
                                                value="#{msgs['common.gluuInc']}" escape="false" /></a> | <a
                                        target="_blank" href="#{client.policyUri}"><h:outputText
                                                value="#{msgs['common.privacyPolicy']}" escape="false" /></a> | <a
                                        target="_blank" href="#{client.tosUri}"><h:outputText
                                                value="#{msgs['common.termsOfService']}" escape="false" /></a>
                        </p>
                </div>
                <div class="col-sm-3"></div>
        </div>
        </footer>
        <script type="text/javascript">
                //<![CDATA[
                $(document)
                                .ready(
                                                function() {
                                                        $(window)
                                                                        .scroll(
                                                                                        function() {
                                                                                                if (window.innerHeight < 620) {
                                                                                                        document
                                                                                                                        .getElementById("appFooter").style.display = "none";
                                                                                                } else {
                                                                                                        document
                                                                                                                        .getElementById("appFooter").style.display = "block";
                                                                                                }

                                                                                        });

                                                        $(window)
                                                                        .on(
                                                                                        'resize',
                                                                                        function() {
                                                                                                var win = $(this);
                                                                                                if (win.height() >= 620) {
                                                                                                        document
                                                                                                                        .getElementById("appFooter").style.display = "block";
                                                                                                } else {
                                                                                                        document
                                                                                                                        .getElementById("appFooter").style.display = "none";
                                                                                                }
                                                                                        });
                                                });

                //]]>
        </script>
</f:view>
</html>