<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	template="/WEB-INF/incl/layout/logintemplate.xhtml">

	<f:metadata>
		<f:viewAction action="#{authenticator.prepareAuthenticationForStep}" if="#{sessionIdService.notSessionIdAuthenticated}" />

		<f:viewParam name="login_hint" value="#{loginAction.loginHint}" />
	</f:metadata>

	<ui:define name="head">
		<meta name="description" content="Gluu, Inc." />
            <link
			href="/oxauth/ext/resources/img/truenewslogo.png"
			rel="icon" />
        
		<style type="text/css">
        
body {
	padding: 0;
}

.reg_link a{
    text-align: center;
    color: #337ab7;
}

.reg_link:hover {
	color: #6c757d !important;
	
}

.navbar-nav {
	padding-top: 30px;
}
   
ul, ol {
	margin-bottom: 0;
}

a {
	color: 	#fff;
}

a:hover, a:focus {
	text-decoration: underline;
    color: #3F48CC  !important;
         
}


.btn-login {
	color: #6c757d;
	border-color: #6c757d;
	background-color: #ffffff;
	transition: all 0.5s ease-in-out 0s;
}

.btn-primary {
    background: #3F48CC;
    padding: 8px 35px;
    border-color: #3F48CC;      
}


.btn1.focus, .btn1:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(173, 216, 230, 1)
}

.btn-login {
	color: #6c757d;
	border-color: #6c757d;
	background-color: #ffffff;
	transition: all 0.5s ease-in-out 0s;
}

.btn-login:hover, .btn-login:focus {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d transition: all 0.5s ease-in-out 0s;
}

.btn-login.focus, .btn-login:focus {
	box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.btn-login:hover, .btn-login:focus {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d transition: all 0.5s ease-in-out 0s;
}

.btn-login.focus, .btn-login:focus {
	box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.btn1 {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1.3rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

input[type="text"]:focus, input[type="password"]:focus {
		rgba(0, 117, 65, 0.71), inset 0px 0px 3px #3bb9ff;
}

@media ( prefers-reduced-motion :reduce) {
	.btn1 {
		transition: none
	}
}


.form-control:focus {
	border-color: #3bb9ff;
}

.panel-default>.panel-heading {
	color: #3bb9ff;
	font-size: 18px;
}
.mt-2, .my-2 {
	margin-top: .5rem !important
}

.mr-2, .mx-2 {
	margin-right: .5rem !important
}

.mb-2, .my-2 {
	margin-bottom: .5rem !important
}

.ml-2, .mx-2 {
	margin-left: .5rem !important
}

.m-3 {
	margin: 1rem !important
}

.mt-3, .my-3 {
	margin-top: 1rem !important
}

.mr-3, .mx-3 {
	margin-right: 1rem !important
}

.mb-3, .my-3 {
	margin-bottom: 1rem !important
}

.ml-3, .mx-3 {
	margin-left: 1rem !important
}

.input-name {
	padding-top: 3px;
}

.panel-order hr {
	margin: 10px 15px;
}

.panel-order .panel-body {
	height: 260px;
	overflow-y: auto;
}

.panel-order .panel-body>.row:last-child hr {
	display: none;
}

.list-inline>li {
	margin-bottom: 5px;
	vertical-align: middle;
}

.list-inline>li img {
	max-width: 40px;
}

#footer {
	padding: 30px 0 20px;
	text-align: center;
	border-top: 0;
}
.card {
	position: relative;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 200;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
    transition: 0.3s;
    max-width: 680px;    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border: 2px solid rgba(0, 0, 0, .125);
	margin-top: 10 !important;
	border-radius: 25px;

    
}

.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem
}

.card-title {
	margin-bottom: .75rem
	
}

.card-subtitle {
	margin-top: -.175rem;
	margin-bottom: 0
}
.card-link:hover {
	color: #39baf0 !important;
	text-decoration: none
}

.card-link {
	margin-left: 1.25rem;
	font-weight: bolder; 
	color: #6c757d !important; 
	font-style: normal
}

.card-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, .03);
	border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-header+.list-group .list-group-item:first-child {
	border-top: 0
}

.card-footer {
	padding: .75rem 1.25rem;
	font-size: small;
}


.logoImage {
	display: block;
	margin: 30px auto;
	max-height: 60px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5,
	.col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1,
	.col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4,
	.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
	.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
	.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
	.col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11,
	.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
	.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1,
	.col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4,
	.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	min-height: 1px;
	padding-right: .9375rem;
	padding-left: .9375rem
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%
}

.col-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%
}
.col-1 {
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%
}

.col-2 {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%
}

.col-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%
}

.col-4 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%
}

.col-5 {
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%
}

.col-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%
}

.col-7 {
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%
}

.col-8 {
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%
}

.col-9 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%
}

.col-10 {
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%
}

.col-11 {
	-ms-flex: 0 0 91.666667%;
	flex: 0 0 91.666667%;
	max-width: 91.666667%
}

.col-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%
}

.offset-md-0 {
	margin-left: 0
}

.offset-md-1 {
	margin-left: 8.333333%
}

.offset-md-2 {
	margin-left: 16.666667%
}

.offset-md-3 {
	margin-left: 25%
}

.offset-md-4 {
	margin-left: 33.333333%
}

.offset-md-5 {
	margin-left: 41.666667%
}

.offset-md-6 {
	margin-left: 50%
}

.offset-md-7 {
	margin-left: 58.333333%
}

.offset-md-8 {
	margin-left: 66.666667%
}

.offset-md-9 {
	margin-left: 75%
}

.offset-md-10 {
	margin-left: 83.333333%
}

.offset-md-11 {
	margin-left: 91.666667%
}

/* Media Query */
@media ( max-width : 979px) {
	.navbar .container {
		padding: 0 15px;
	}
}

@media ( max-width : 767px) {
	.navbar {
		text-align: center;
	}
	.navbar-nav {
		padding-top: 0px;
	}
	.navbar-header img {
		max-width: 130px;
	}
	#content.sign-in-page {
		padding-top: 30px;
	}
	.list-inline>li img {
		max-width: 30px;
	}
}
  
</style>
	</ui:define>

	<ui:define name="pageTitle">
		<h:outputText value="#{msgs['login.pageTitle']}" />
        
	</ui:define>

	<ui:define name="body">

		<div class="container">
			 
		<div class="row">
				<div class="col-xs-12 col-sm-3">
					<div class="navbar-header">
						<ui:param name="client"
							value="#{clientService.getClient(identity.sessionId.sessionAttributes['client_id'])}" />
						<h:panelGroup rendered='#{!empty client.getLogoUri()}'>
							<h:graphicImage url='#{client.getLogoUri()}' />
						</h:panelGroup>

					</div>
				</div>
			</div>
			<!-- end logo-->
		</div>
<!--	</header>      -->

		<!-- end header-->
<!--	<div class="bs-docs-section" style="border-top: 0px solid #3bb9ff !important;">  -->

		<div class="container" style="padding-top: 60px;">
			<h:panelGroup rendered="true"> 
            <div class="row">
			<div class="col-sm-6 offset-md-3">
			<div class="card">
		  <div class="logoImage">
							<ui:param name="client"
					value="#{clientService.getClient(identity.sessionId.sessionAttributes['client_id'])}" />    

				<h:panelGroup layout="block" rendered='#{!empty client.logoUri}'>
					<h:graphicImage url='#{client.logoUri}' />
				</h:panelGroup>
				<h:panelGroup layout="block" rendered='#{empty client.logoUri}'>
					<object data="ext/resources/img/truenewslogo.png" type="image/png">
                     <img src="img/logo.png" />
                    </object>
				</h:panelGroup>	
			 </div>
				
				     <h4 class="card-subtitle" style="margin-top: 3%" align="center">Sign in</h4>
                     <div class="clearfix mar-all pad-all" ></div>
					   
                <div class="card-body" id="add_here">
                
                
						<h:form id="loginForm" >
						
                            <h:inputHidden id="platform"/>                           
                            <h:inputHidden id="provider"/>
						<h:panelGroup
									rendered="#{sessionIdService.notSessionIdAuthenticated}">

						  <!-- <div class="row form-group" align="center"> -->
                          
                        
							<!-- <span class="input-name col-md-3"> <h:outputLabel -->
													<!-- for="username" value="#{msgs['login.username']}" /> -->
									<!-- </span> -->
							
                            <!-- <div class="col-md-6"> -->
							  <!-- <h:inputText id="username" value="#{credentials.username}" styleClass="form-control usernameField" -->
												<!-- autocomplete="off" /> -->
							<!-- </div> -->
						  <!-- </div> -->
                          
						  <div class="row form-group" align="center">
                          
						       <span class="input-name col-md-3"> <h:outputLabel
										for="password" value="#{msgs['login.password']}" />
								  </span>
                            
							<div class="col-md-6">
							  <h:inputSecret id="password" value="#{credentials.password}"  styleClass="form-control passwordField"
												autocomplete="off" />
							</div>
						  </div>

						  <div class="row form-group offset-md-0">
							<div id="submit_block" class="col-12 offset-md-0"  align="center">
							  <h:commandButton id="loginButton" styleClass="btn btn-primary"
													value="#{msgs['login.login']}"
													action="#{authenticator.authenticate}" />
							</div>
						  </div>
                          
                          
                          
                          
                          <!-- <div class="card-subtitle" align="center"><h5>OR</h5></div>  -->
                          
                          <!-- <div class="reg_link"> -->
								<!-- <a href="#{external_registration_uri}"> -->
								 <!-- <h:outputText value="Passwordless Authentication " /> -->
								<!-- </a> -->
						<!-- </div> -->
                          
                          
						  </h:panelGroup>    
						</h:form>
                        
					 </div>
                 
                 <div class="button-social">
							<ul id="externalProviders">
								<!--li>
								<a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i> Sign In with Facebook</a>
								</li-->
							</ul>
					</div>
                 
                       <div class="card-footer text-muted" align="right">
							  <div class="card-link">
								<a class="card-link" href="/identity/person/passwordReminder.htm">#{msgs['passport.forgotYourPassword']}</a>
								<a class="card-link" href="https://demo.icurity.co.za:8443/ciam/"> Cancel</a>
							  </div>
						
				          </div>
				          
                 
                   
					<!--	<h:panelGroup layout="block" rendered="#{external_registration_uri != Null}">
						 
						</h:panelGroup>
						<h:panelGroup layout="block">
						 
						</h:panelGroup>     -->
					
					
				
			
						
						
					
					
			</div>	
			</div>
			</div>
                        
			</h:panelGroup>
			
		<h:panelGroup  rendered="false"> 
			<div class="login_bx_1" style="border-radius:10px; margin-top:0px; background: white;">
				<div class="row">
					<div class="col-md-6_1 col-sm-5_1 ">
					   <div class="left_form_bx" style="padding-top: 20px; padding-left: 10px;padding-right: 5px; padding-bottom: 20px;" >
						<h:form id="loginForm"  class="form-horizontal">
						   <h:messages class="text-center" style ="color:red;margin:8px;" infoClass="text-center" errorClass="text-center"/>
						<h:panelGroup
									rendered="#{sessionIdService.notSessionIdAuthenticated}">						
						  <div class="form-group">
							<h:outputLabel styleClass="col-sm-4 control-label"	for="username" value="#{msgs['login.username']}" />
							<div class="col-sm-8">
							  <h:inputText id="username" value="#{credentials.username}" styleClass="form-control"
												autocomplete="off" />
							</div>
						  </div>
						  <div class="form-group">
							<h:outputLabel styleClass="col-sm-4 control-label" for="password" value="#{msgs['login.password']}" />
							<div class="col-sm-8">
							  <h:inputSecret id="password" value="#{credentials.password}"  styleClass="form-control"
												autocomplete="off" />
							</div>
						  </div>

							<div class="form-group">
								<h:outputLabel styleClass="col-sm-4 control-label" for="rememberme" value="#{msgs['login.rememberMe']}" />
								<div class="col-sm-8">
									<input type="checkbox" value="rememberme" id="rememberme"/>
								</div>
							</div>
						  
						  <div class="form-group">
							<div class="col-sm-offset-4 col-sm-8">
							  <h:commandButton id="loginButton" styleClass="btn btn-primary col-sm-12"
													value="#{msgs['login.login']}"
											   onclick="checkRemembeMe()"
													action="#{authenticator.authenticate}" />
							</div> 
						  </div>
						  
						  <div class="form-group">
							<div class="col-sm-offset-6 col-sm-6">
							  <div class="forgot_link">
								<a href="/identity/person/passwordReminder.htm" style="color:red;">
								  <h:outputText value="#{msgs['login.forgotYourPassword']}" />
								</a>
							  </div>
							</div>
						  </div>
						  </h:panelGroup>
						</h:form>
						<div align="center" class="col-sm-offset-4 col-sm-9">
							<ui:repeat value="#{identity.getWorkingParameter('download_url').entrySet().toArray()}" var="_entry">
								<ui:param name="app_name" value="#{_entry.key}"/>
								<ui:param name="app_link" value="#{_entry.value}"/>
								<h:outputLink style="margin-right:5px;" value="#{app_link}" title="#{app_name}"><h:graphicImage value="img/#{app_name}.png" /></h:outputLink>
							</ui:repeat>
						</div>
						</div>
						<h:panelGroup layout="block" rendered="#{external_registration_uri != Null}">
						 <div class="reg_link">
							 <a href="#{external_registration_uri}">
								 <h:outputText value="Register Now " />
							 </a>
						</div>
						</h:panelGroup>
					</div>
				</div>
			</div>
			
			</h:panelGroup>
		</div>
<!--	</div>   -->
	
	<!-- div class="footer-copyright text-center py-3" style="background:#1ab26b; position: fixed;left: 0;bottom: 0;width: 100%;text-align: center;">
		<div class="footer">
			<div class="row">
				<div class="col-md-12">
				  <div class="padding_spc" style="padding-bottom: 5px;padding-top: 5px;">
					<p><h:outputText value="#{msgs['common.gluuInc']}" /> | <a target="_blank" href="https://github.com/GluuFederation/oxAuth/blob/master/LICENSE"><h:outputText value="#{msgs['common.caution']}" escape="false" /></a>
					<h:panelGroup rendered='#{!empty client.policyUri}'>
					| <a target="_blank" href="#{client.policyUri}"><h:outputText value="#{msgs['common.privacyPolicy']}" escape="false" /></a>
					</h:panelGroup>
					<h:panelGroup rendered='#{!empty client.tosUri}'>
					| <a target="_blank" href="#{client.tosUri}"><h:outputText value="#{msgs['common.termsOfService']}" escape="false" /></a>
					</h:panelGroup>
					</p>
					</div>
				</div>
			</div>
		</div>
	</div -->

		<script type="text/javascript">

            window.onload = function () {
                var userNameField = document.getElementById("loginForm:username");
                var passwordField = document.getElementById("loginForm:password");
                var userName = '#{!empty loginAction.loginHint ? loginAction.loginHint : ""}';
                if (userName) {
                    userNameField.value = userName;
                    passwordField.focus();
                } else {
                    userNameField.focus();
                }

                var displayRegister = #{display_register_action or identity.sessionId.sessionAttributes['display_register_action']};
                if (displayRegister) {
                    var registerButton = document.getElementById("loginForm:registerId");
                    if (registerButton != null) {
                        registerButton.style.display = 'inline';
                    }
                }
            };

    		$(document).ready(function () {
    			populateExternalProviders();

    			// Remember me
                if (localStorage.chkbx &amp;&amp; localStorage.chkbx != '') {
                    $('#rememberme').attr('checked', 'checked')
                    document.getElementById("loginForm:username").value = localStorage.usrname;
                    //document.getElementById("loginForm:password").value = localStorage.password;

                } else {
                    $('#rememberme').removeAttr('checked');
                    document.getElementById("loginForm:username").value = "";
                    //document.getElementById("loginForm:password").value = "";
                }

                $('#rememberme').click(function() {
                    checkRemembeMe();
                });

                fillPlatformField();
    		});
                                     
    		function checkRemembeMe() {
                if ($('#rememberme').is(':checked')) {
                    // save username
                    localStorage.usrname = document.getElementById("loginForm:username").value;
                    //localStorage.password = document.getElementById("loginForm:password").value;
                    localStorage.chkbx = $('#rememberme').val();
                } else {
                    localStorage.usrname = '';
                    //localStorage.password = '';
                    localStorage.chkbx = '';
                }
			}

            function fillPlatformField() {
                //Fix browser version to contain major.minor portion only
                try {
                    re = /^([^\.]+\.[^\.]+)\..+/;
                    //This will remember "33.0" in "33.0.1.2.3"
                    result = re.exec(platform.version);
                    if (result != null) {
                        //There was a match against the regexp
                        platform.version=result[1];
                    }
    			    document.getElementById("loginForm:platform").value = JSON.stringify(platform);
                } catch (e) {
                }
            }
            
            function populateExternalProviders() {
            	var elem = $('#externalProviders')
            	var jsonProviders = '${identity.getWorkingParameter('externalProviders')}'
            	
            	try {
            		var externalProviders = JSON.parse(jsonProviders)
            		var ids = Object.keys(externalProviders)

				function comp(p1, p2) {
					return externalProviders[p1].saml == externalProviders[p2].saml ? 0 : 1
				}
				ids.sort(comp)
            		
            		for (let provider of ids) {
            			var prov = externalProviders[provider]
            			var logo = prov.logo_img
            			var name = prov.displayName ? prov.displayName : provider

            			if (logo == null) {
            				logo = "img/" + name.toLowerCase() + ".png"
            			}
            			if (logo.indexOf("http") != 0) {
            				//logo is assumed to be located relative to /oxauth/auth/passport
            				logo = "auth/passport/" + logo
            			}
            			
                    <!--    imgMarkup = '<img alt="' + provider + '" src="' + logo + '" width="30"></img>'  -->
                                                                                                        
                       
                        
                        if (name.toString() == 'github') 
                        {
            				imgMarkup = '<a style="padding-left:5px;white-space:nowrap;border: 1px solid gray;border-radius:3px;display:inline-block;line-height:40px; width:100%;background-color:#333;text-overflow:ellipsis" href="javascript:idp_redirect(\'' + provider + '\')"><span class="fa fa-' + provider + '"></span> Sign in with ' + provider + '</a>' 
                       	    
                            leftMarkup =  '<div class="col-12 offset-md-0 mt-2">' + imgMarkup + '</div>';
                            
                            
                            $('#add_here').append(
					         	'<div class="row">'  + leftMarkup 
								  + ' <div class="clearfix"></div></div>'); 
            			}
                         
                        else if (name.toString() == 'facebook')                                                 
                        {   
            				imgMarkup = '<a style="padding-left:5px;border: 1px solid gray;border-radius:3px;display:inline-block;line-height: 40px; width:100%;background-color:#3b5998;text-overflow:ellipsis" href="javascript:idp_redirect(\'' + provider + '\')"><span class="fa fa-' + provider + '"></span> Sign in with ' + provider + '</a>' 
                       	
                            leftMarkup =  '<div class="col-12 offset-md-0 mt-2">' + imgMarkup + '</div>';
                            
                            
                            $('#add_here').append(
					         	'<div class="row">'  + leftMarkup 
								  + ' <div class="clearfix"></div></div>'); 
            			}
                       else if (name.toString() == 'linkedin')                                                                                                                                       
                        {
            				imgMarkup = '<a style="padding-left:5px;white-space:nowrap;border: 1px solid gray;border-radius:3px;display:inline-block;line-height: 40px; width:100%;background-color:#0077B5;text-overflow:ellipsis" href="javascript:idp_redirect(\'' + provider + '\')"><span class="fa fa-' + provider + '"></span> Sign in with ' + provider + '</a>' 
                       	
                            leftMarkup =  '<div class="col-12 offset-md-0 mt-2">' + imgMarkup + '</div>';
                            
                            
                            $('#add_here').append(
					         	'<div class="row">'  + leftMarkup 
								  + ' <div class="clearfix"></div></div>'); 
            			}   
            		               
                                                                 
            		}
            	} 
                catch (e) {
            	}      
            	                           
            }
            
		function idp_redirect(provider) {
			var form = document.forms.loginForm;
			form["loginForm:provider"].value = provider;
			form["loginForm:loginButton"].click(); 
		}
        </script>
	</ui:define>
</ui:composition>
